/* Thème sombre */
:root {
  --shadow: 0 0 10px rgba(0 , 123, 255, 0.7);
  --primary: #007bff;
  --bridges: rgba(255,255,255,0.5);
  --bg-header: #1c2938;
  --bg: #10171e;
  --text: white;
  --selected: #e0245e;

}

.navbar-light .navbar-nav .active > .nav-link {
    color: #fff !important;
}

.nav-link {
    color: rgba(255,255,255,.5) !important;
}

.bg-light{
  background: var(--bg-header) !important;
}

.modal-title, .modal-body {
  color: black;
}
